extends ../layouts/main-layout.pug

block content
    div#login-form.text-center
        if !!errorMessage
            p.border.border-red= errorMessage
        if !!successMessage
            p.border.border-green= successMessage
        form(action="/new-password", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="userId", value=userId)
            input(type="hidden", name="passwordToken", value=passwordToken)
            div.py-2
                label(for="password") Password 
                input(type="password", 
                    name="password", 
                    id="password",
                    class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
            button(
                type="submit",
                class="border-2 p-1 rounded border-blue") Update Password