extends ../../layout

block content
    .flex.flex-wrap.justify-center
        h1.border-blue-lighter.border-b-4.mb-4.px-20.w-full About Florida Keys National Marine Sanctuary

        p(class="w-5/6 italic") Did you know that Florida Keys National Marine Sanctuary protects North America’s only living coral barrier reef? From beautiful reefs and lush kelp forests to deep-sea canyons and mysterious underwater shipwrecks, national marine sanctuaries located around the country protect some of our nation’s most unique riches.
        
        p(class="w-5/6 pt-2 italic") In this section, you will learn about the National Marine Sanctuary System, the history of Florida Keys National Marine Sanctuary, and about the areas and resources that the sanctuary protect.

        iframe.pt-2(
            width="560",
            height="315",
            src="https://www.youtube.com/embed/F2QnOyEvOa0",
            frameborder="0",
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture",
            allowfullscreen)

        p(class="w-5/6 pt-2") First established in 1972, the National Marine Sanctuary System has grown to include 13 sanctuaries and one national monument. Managed by the National Oceanic and Atmospheric Administration (or “NOAA”), the mission of these marine protected areas cover more than 150,000 square miles of marine and Great Lakes waters from Washington State to the Gulf of Mexico, Lake Huron, and American Samoa. Ranging in size from less than one square mile to 137,792 square miles, each sanctuary site is a special place, managed to conserve, protect, and enhance biodiversity, ecological integrity and cultural legacy.

        //- [insert: nmsmap2.jpg]

        h2(class="w-5/6 pt-2") A Sanctuary in the Florida Keys
        
        p(class="w-5/6 pt-2") Warning signs of the fragility and finite nature of marine resources in the Florida Keys have been present for years. Concerns over pollution, overfishing, overuse, and misuse, and the subsequent demise of the area’s coral reefs, eventually led to the establishment of the Key Largo and Looe Key National Marine Sanctuaries. 

        p(class="w-5/6 pt-2") While these sanctuaries and other marine protected areas, such as John Pennekamp Coral Reef State Park, were steps in the right direction to protect reefs, things in the Keys continued to decline. In 1990, amidst concerns about deteriorating water quality, the threat of oil drilling, and numerous vessel groundings, Congress designated the Florida Keys National Marine Sanctuary, incorporating the preexisting Key Largo and Looe Key sanctuaries.

        p(class="w-5/6 pt-2") Today, the sanctuary protects 2,900 square nautical miles of waters surrounding the Florida Keys, from south of Miami and extending westward to encompass the Dry Tortugas, but excluding the Dry Tortugas National Park. The shoreward boundary of the sanctuary is the mean high-water mark, meaning that once you set foot in Keys waters, you have entered the sanctuary. 

        //- [insert: fknms_map.gif]

        p(class="w-5/6 pt-2") Within the boundaries of the sanctuary lie spectacular, unique, and nationally significant marine environments. The sanctuary protects the world’s third largest barrier reef, which is composed of more than 6,000 individual reefs. More than 2,000 square nautical miles of seagrass meadows blanket the seafloor of South Florida. Approximately 1,700 mangrove-fringed islands stretch for over 1,800 miles of shoreline within the sanctuary. More than 6,000 species of marine life – including more than 500 species of fish and 50 species of coral – call these habitats home. The sanctuary also protects pieces of our nation’s history such as shipwrecks and other archeological treasures.

        //- [insert: slideshow of images: FK_aerial reef.jpg; FK_mangrove.jpg; FK_A.palm_coral.jpg; fish_coral.jpg; shipwreck.jpg; seagrass2.jpg (something like fknmshabs.mov)]

        p(class="w-5/6 pt-2") As a Blue Star partner, you are playing an important role in protecting these unique and valuable sanctuary resources.
    //-
        Quiz
        [Correct answer in bold; when correct answer is chosen, a congrats message should pop up (“You are correct!”). Text that should pop up if an incorrect answer is chosen appears in brackets.]

        1. The Florida Keys National Marine Sanctuary is part of a _____________ system of marine protected areas, managed by the ________________. 
        statewide, Florida Fish and Wildlife Conservation Commission
        regional, National Park Service
        national, National Park Service
        regional, National Oceanic and Atmospheric Administration
        national, National Oceanic and Atmospheric Administration

        [Oops! The Florida Keys National Marine Sanctuary is one of 13 sanctuaries located across the nation and managed by the National Oceanic and Atmospheric Administration, or “NOAA.” NOAA is a federal agency housed under the U.S. Department of Commerce. NOAA programs and services assist citizens across the entire nation.]


        2. The Florida Keys National Marine Sanctuary was designated in:
            a. 1985
            b. 1990
            c. 2001
            d. 1970
            e. 1995

        [Oops! Congress designated the Florida Keys National Marine Sanctuary in 1990, amidst concerns over declining water quality, oil exploration, and vessel groundings.]


        3. Which of the following habitats are found in the sanctuary?
            a. Coral reefs
            b. Seagrass meadows
            c. Mangroves
            d. all of the above

        [Oops! The Florida Keys National Marine Sanctuary includes mangrove, seagrass, and coral reef habitats within coastal and oceanic waters.]


        4. How many species of marine life call the sanctuary home?
            a. 500
            b. 1,000
            c. 3,000
            d. 4,500
            e. More than 6,000

        [Oops! More than 6,000 species of marine life, including more than 500 species of fish and 50 species of coral, call the habitats within the sanctuary home.]


        5. The Florida Keys National Marine Sanctuary protects North America’s only living coral barrier reef.
            a. True
            b. False

        [Oops! The Florida Keys National Marine Sanctuary protects North America’s only living coral barrier reef, which is also the third largest barrier reef in the world.]


        6. Which of the following factors did not help prompt the designation of the Florida Keys National Marine Sanctuary?
            a. Deteriorating water quality
            b. Vessel groundings
            c. Climate change
            d. Threat of oil drilling

        [Oops! The Florida Keys National Marine Sanctuary was designated by Congress in 1990 amidst concerns over declining water quality, numerous vessel groundings, and the threat of oil drilling.]


        7. How many square nautical miles does the sanctuary protect?
            a. 260
            b. 500
            c. 1,200
            d. 2,900

        [Oops! The sanctuary extends from south of Miami out west past the Dry Tortugas, on both the Gulf and ocean sides, covering 2,900 square nautical miles.]


        8. The Florida Keys National Marine Sanctuary is one of how many sanctuaries in a national system? 
            a. 5
            b. 8
            c. 13
            d. 25

        [Oops! NOAA’s Office of National Marine Sanctuaries manages 13 sanctuaries in the United States and co-manages one national marine monument in Hawaii.]

        9. Establishment of the Florida Keys National Marine Sanctuary incorporated which two preexisting national marine sanctuaries?
            a. Duck Key and Key Largo
            b. Key Largo and Looe Key
            c. Looe Key and Sugarloaf Key
            d. Sugarloaf Key and Key West

        [Oops! Key Largo National Marine Sanctuary was designated in 1975 and Looe Key National Marine Sanctuary was designated in 1981. These two sanctuaries became a part of the larger Florida Keys National Marine Sanctuary when it was established in 1990.]


        10. The Florida Keys National Marine Sanctuary begins one mile offshore and extends from Key Largo to Key West.
            a. True
            b. False

        [Oops! The sanctuary runs from Miami west to the Dry Tortugas and begins at the mean (or average) high water mark. Essentially, as soon as you step foot in the waters surrounding the Keys, you are in the sanctuary.]


