extends ../layouts/main-layout.pug

block content
    if successMessage
        p.border.border-green.text-center.w-full= successMessage
    p Email: #{ loggedInUser.email }
    if loggedInUser.isAdmin
        p You are an Administrator.
        p See your #[a(href="/admin") administrator] options.

    p I am associated with
        each shop in loggedInUser.shops.length ? loggedInUser.shops : ['no shops at this time']
            //- Make these an anchor tag?
            span.text-blue-dark= shop.name
            if (loggedInUser.shops.length > 2 && (loggedInUser.shops.indexOf(shop) !== (loggedInUser.shops.length-1)))
                | ,
            if loggedInUser.shops.indexOf(shop) === (loggedInUser.shops.length -2)
                |  and
        | .

    if loggedInUser.isManager.length > 0        
        p I am a manager of  
            each shop in loggedInUser.isManager.length ? shops : ['no shops at this time']
                span= shop

    a(href=nextTrainingLink) Next Training Course