extends ../layouts/main-layout.pug

block content
    h1 #{ user.name }
    p Email: #{ user.email }
    if user.isAdmin
        p You are an Administrator.
        p See your #[a(href="/admin") administrator] options.

    p I am associated with
        each shop in user.shops.length ? user.shops : ['no shops at this time']
            //- Make these an anchor tag?
            span.text-blue-dark  #{shop}
            if (user.shops.length > 2 && (user.shops.indexOf(shop) !== (user.shops.length-1)))
                | ,
            if user.shops.indexOf(shop) === (user.shops.length -2)
                |  and
        | .

    if user.isManager.length > 0        
        p I am a manager of  
            each shop in user.isManager.length ? shops : ['no shops at this time']
                span= shop

    a(href=nextTrainingLink) Next Training Course