extends ../layouts/main-layout

block content
    form(action="/lessons/"+lesson._id, method="post").border.text-center.w-full
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="title").px-2 Lesson Title
            input(
                value=lesson.title,
                type="text", 
                id="title", 
                name="title",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        div.py-2
            label(for="content").px-2 Lesson Content
            input(
                value=lesson.content,
                type="text", 
                id="content", 
                name="content",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        button(type="submit") Update Shop
    form(action="/lessons/"+lesson._id+"/delete", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        button(type="submit").p-2.bg-red-lightest.rounded-full.text-sm Delete Lesson