extends ../layouts/main-layout

block content
    form(action="/lessons", method="post").border.text-center
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="title").px-2 Lesson Title
            input(
                type="text", 
                id="title", 
                name="title",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        button(type="submit").border.border-green-light.bg-green-lightest.rounded.p-2 Add Lesson