mixin loginForm(user = {})
    h3.mt-4 Login
    form(action="/login", method="post").mt-2
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="email") Email 
            input(type="text", 
                name="email", 
                class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
        div.py-2
            label(for="password") Password 
            input(type="password", 
                name="password", 
                id="password",
                class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
        button(
            type="submit",
            class="border-2 p-1 rounded border-blue") Login