mixin newShopForm(shop = {})

    form(action="/shops", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="name") Shop Name 
            input(type="text", 
                name="name", 
                id="name", 
                placeholder="Great Dive Shop",
                class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
        div.py-2
            label(for="password") Password to Give Shop Staff 
            input(type="text", 
                name="password", 
                id="password",
                placeholder="barracuda",
                class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
        button(
            type="submit",
            class="p-1 rounded bg-blue-light hover:bg-blue-dark text-white") Create Shop