mixin resetPasswordForm()
    h3.mt-4 I forgot my password...
    form(action="/reset", method="post").mt-2
                input(type="hidden", name="_csrf", value=csrfToken)
                div.py-2
                    label(for="email") Email 
                    input(type="text", 
                        name="email", 
                        class="border-b-2 border-gray-light rounded focus:border focus:border-blue")
                button(
                    type="submit",
                    class="border-2 p-1 rounded border-blue") Reset Password