extends ../layouts/main-layout

block content
    form(action="/shops/"+shop._id, method="post").border.text-center
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="name").px-2 Shop Name
            input(
                type="text", 
                id="title", 
                name="name",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        div.py-2
            label(for="password").px-2 Password
            input(
                type="text", 
                id="password", 
                name="password",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        button(type="submit") Update Shop
    form(action="/shops/"+shop._id+"/delete", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        button(type="submit") Delete Shop