extends ../layouts/main-layout

block content
    .border.border-b-2.w-full.rounded.m-2
        if loggedInUser && loggedInUser.isAdmin
            p Password: #{shop.password}
            p Contact Email: #{shop.email}
        p= shop.phone
        p= shop.managers
        p= shop.records
    .border.border-b-2.w-full
        h3 Staff
        ol
            for user in staff
                li
                    p.w-full= user.name