extends ../../layouts/main-layout

block content
    form(action="/quizzes/"+quiz._id, method="post").border.text-center.w-full
        input(type="hidden", name="_csrf", value=csrfToken)
        div.py-2
            label(for="title").px-2 Quiz Title
            input(
                value=quiz.title,
                type="text", 
                id="title", 
                name="title",
                class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue")
        button(type="submit").p-2.border.border-green-light.bg-green-lightest.rounded-full.text-sm Update Quiz
    .container
        for question in quiz.questions
            p= question.text
            for answer in question.answers
                p(class=answer.correct ? 'bg-green-lightest' : 'bg-red-lightest') #{answer.text}
        else
            p No questions for this quiz yet.
        form(action="/quizzes/"+quiz._id+"/add-question", method="post").flex.flex-wrap
            fieldset.pl-6.border-2.border-blue-darker
                legend New Question
                input(type="hidden", name="_csrf", value=csrfToken)
                div.py-2.w-full.flex.flex-wrap
                    label(for="text", class="px-2 w-1/4") Question Text
                    input(
                        value="What color is seagrass?",
                        type="text", 
                        id="text", 
                        name="text",
                        class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue w-3/4")
                div.py-2.w-full.flex.flex-wrap
                    label(for="text", class="px-2 w-1/4") Correct Answer
                    input(
                        value="Green",
                        type="text", 
                        id="correctAnswer", 
                        name="answers[]",
                        class="border-b-2 px-2 bg-green-lightest border-gray-light rounded focus:border focus:border-blue w-3/4")
                    label(for="text", class="px-2 w-1/4") Wrong Answer
                    input(
                        value="Red",
                        type="text", 
                        id="wrongAnswer1", 
                        name="answers[]",
                        class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue w-3/4")
                    label(for="text", class="px-2 w-1/4") Wrong Answer
                    input(
                        value="Blue",
                        type="text", 
                        id="wrongAnswer2", 
                        name="answers[]",
                        class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue w-3/4")
                    label(for="text", class="px-2 w-1/4") Wrong Answer
                    input(
                        value="Orange",
                        type="text", 
                        id="wrongAnswer3", 
                        name="answers[]",
                        class="border-b-2 px-2 border-gray-light rounded focus:border focus:border-blue w-3/4")
                button(type="submit").p-2.border.border-blue-light.bg-blue-lightest.rounded-full.text-sm Add Question
    form(action="/quizzes/"+quiz._id+"/delete", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        button(type="submit").p-2.border.border-red-light.bg-red-lightest.rounded-full.text-sm Delete Quiz


    p.border.border-red= quiz